body{
    background-color:rgb(124, 122, 122);
}
img{
    height: 300px;
    width:200px;
    display: inline-block;
    border-radius: 2rem;
    position: relative;
}

main{
    border: 2px solid rgb(124, 122, 122);
    position:absolute;
    top:0px;
    left: 33.33%;
    width:200px;
    height: 600px;
    border-radius:2rem;
    padding: 15px;
    margin: 20px;
    background-color: white;
}

span{
    border: 1px solid rgba(161, 161, 161, 0.42);
    color: rgb(124, 122, 122);
    border-radius:10px ;
    font-size:small;
    font-family: monospace;
    margin: 5px;
    padding: 2px 4px 2px 4px;
    position: relative;
    top: 5px;
    box-shadow: 10px;
    bottom: 5px;
}

p{
color:rgb(124, 122, 122);
}

footer{
border-radius: 2rem;
background-color: lightblue;
color:rgb(53, 53, 158); ;
display: inline;
padding: 10px;
position: absolute;
left:80px;
font-size: small;
}