img{
    height: 300px;
    width:200px;
    display: inline-block;
    border-radius: 2rem;
   
    position: relative;
}
   
    
main{
    border: 2px solid rgb(124, 122, 122);
    position:absolute;
    left: 33.33%;
    width:200px;
    height: 600px;
    border-radius: 2rem;
    padding: 15px;
    margin: 20px;

}
span{
    border: 1px solid rgba(161, 161, 161, 0.42);
    color: rgb(124, 122, 122);
    border-radius:10px ;
    font-size: small;
    font-family: monospace;
    margin: 10px;px;
    padding: 5px;
    position: relative;
    top: 10px;
    ;
    box-shadow: 10px;
    bottom: 10px;
}
p{
color:rgb(124, 122, 122);
}
footer{
border-radius: 2rem;
background-color: lightblue;
color:rgb(53, 53, 158); ;
display: inline;
padding: 5px;
position:;
left:35%;
font-size: x-small;
}
img:hover{
    height:310px;
    
}