*{
    background-color:#f1faee;
}
button{
    font-size: 20px;
    background-color:#a8dadc ;
    color: #1d3557;

}
#su{
    background-color: #1d3557;
    color: #f1faee;
}
span{
    font-size:15px;
    background-color:#e63946 ;
    color: #f1faee;
}
a:hover{
    color: #e63946;
}

.post button:hover{
    color: #f1faee;
}