*{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
    background-color: palevioletred;
    padding: 4px 2px 3px 2px;
  
}
li{
    display: inline;
    padding: 0px 13px 13px 0px;
    color:white;

}
.box{
    background-color: green;
    height: 65vh;
    width: 100%;
    text-align: center;
}
.b1{
    background-color: aqua;
    height: 50vh;
    width: 40%;
    display:inline-block;
    padding: 2%;
    margin:2.5%;
}
.b2{
    background-color:red;
    height: 50vh;
    width: 40%;
    display:inline-block;
    padding: 2%;
    margin: 2.5%;
}
.b3{
    color: aliceblue;
    height: 8vh;
    width:50%;
    font-weight: 1000;
    font-size:5vh;
    border-radius: 20%;
    text-align:center;
    margin: 1% 1% 20% 20%;
    border: 2px solid white;
    padding: 5%;

}
body{
    background-color: black;
    color: black;
}
nav{
    position: fixed;
    width: 100%;

}
.obx{
    height:24px;
    width:24px;
    background: orange;
    position: fixed;
    border-radius: 12px;
    bottom: 12px;
    right: 13px;
}