:root{
    --color:#690827;
    --sec:#d894c9;
    --txt:#2e2d72;
}

nav{
    color: var(--txt);
    background-color: var(--sec);
    text-shadow:0px 1px 2px var(--color);
   
}

ul{
    list-style-type:none ;
    display:flex;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

li{
    padding: 5px;
    margin: 2px;
    list-style:none;
}
*{
    margin: 0px;
    padding-left: 0px;
}
